In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df = df.drop(columns = ['User ID' , 'Gender'])

In [5]:
from sklearn.model_selection import train_test_split

In [12]:
x = df.drop(columns = ['Purchased'])
y = df['Purchased']

In [13]:
x_train , x_test, y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 0)

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc = StandardScaler()

In [16]:
x_train_new = sc.fit_transform(x_train)

In [17]:
x_test_new = sc.transform(x_test)

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
dt = DecisionTreeClassifier(criterion = 'entropy' , random_state = 0)

In [21]:
dt.fit(x_train_new , y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

# "criterion='entropy': Criterion is used to measure the quality of split, which is calculated by information gain given by entropy.

In [22]:
y_pred = dt.predict(x_test_new)

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
cm = confusion_matrix(y_test , y_pred)

In [25]:
cm

array([[53,  5],
       [ 3, 19]], dtype=int64)